In [1]:
import pandas as pd
import json
input_name = "Vacuum-Cleaners_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [2]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [3]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 14
Total number of unique 'ean's: 86

In [4]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,EmtFfXQBUbef_7uTbBRE,NaN,B082VRFWB8,Tineco,NaN,"Power & Hand Tools,Home & Kitchen,Vacuums,Wet-...",Floor One S,NaN,2020-09-11T13:05:35Z,2024-06-10T04:50:26Z,...,NaN,NaN,NaN,NaN,6.955233e+11,NaN,6.955233e+11,NaN,NaN,9.9 lbs 9.9 lbs
1,AV1YHNFNGV-KLJ3addKP,NaN,B00JH98GR4,SHARK,NaN,"storage and cleaning,Kitchen & Dining Features...","Blue Renewed,blue,Blue,Purple,Blue Vacuum,Blac...",NaN,2017-07-18T23:51:09Z,2024-06-10T04:15:11Z,...,NaN,NaN,NaN,NaN,7.528305e+11,NaN,7.528305e+11,NaN,"macys.com-44270248,brickseek.com-6170129,homed...",15.96 lbs
2,DU4wvHMBUbef_7uTLL8E,NaN,NaN,RYOBI,NaN,"Janitorial Supplies,ABRASIVES,ABRASIVE BRUSHES...",NaN,NaN,2020-08-05T01:15:40Z,2024-06-10T02:51:26Z,...,NaN,NaN,NaN,NaN,3.328718e+10,NaN,3.328718e+10,NaN,"google.com-15227644272675635405,homedepot.com-...",4.6 lb.
3,AVph13vf1cnluZ0-HAM7,NaN,NaN,Sanitaire,NaN,"Appliances,Home & Tools,Sticks & Hand-Helds,El...",NaN,NaN,2015-10-19T11:52:05Z,2024-06-10T02:13:00Z,...,NaN,NaN,NaN,NaN,6.164695e+11,NaN,6.164695e+11,NaN,"walmart.com-435849626,walmart.com-5HP131SP5C3R",NaN
4,4_koeHIBPkqI1fUQKFVE,https://redsky.target.com/redsky_aggregations/...,B084BS1J9K,SHARK,NaN,"Miscellaneous Supplies,Vacuum Cleaners & Floor...","Charcoal gray,Gray,GRAY,multiple colors/finish...",NaN,2020-06-03T03:09:57Z,2024-06-10T01:56:37Z,...,NaN,NaN,NaN,NaN,6.223566e+11,NaN,6.223566e+11,NaN,"gravitex.cl-8257749844207,factoryhardwarestore...",6 lb

In [5]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [6]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [7]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,EmtFfXQBUbef_7uTbBRE,6.955233e+11,NaN,6.955233e+11,"[{""key"":""Battery type"",""value"":[""Lithium-Ion""]..."
1,AV1YHNFNGV-KLJ3addKP,6.223565e+11,NaN,7.528305e+11,"[{""value"":[""No"",""false""],""key"":""ENERGY STAR Ce..."
2,DU4wvHMBUbef_7uTLL8E,3.328718e+10,P4500,3.328718e+10,"[{""key"":""Cleaning & Janitorial Product Type"",""..."
3,AVph13vf1cnluZ0-HAM7,6.164695e+11,RNAB00BZBPNBE,6.164695e+11,"[{""value"":[""New""],""key"":""Condition""},{""key"":""D..."
4,4_koeHIBPkqI1fUQKFVE,6.223566e+11,NaN,6.223566e+11,"[{""key"":""Toss away"",""value"":[""Press the button..."

In [8]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,EmtFfXQBUbef_7uTbBRE,6.955233e+11,NaN,6.955233e+11,"[{""key"":""Battery type"",""value"":[""Lithium-Ion""]...","[Battery type, Bumper Protection, Power Source..."
1,AV1YHNFNGV-KLJ3addKP,6.223565e+11,NaN,7.528305e+11,"[{""value"":[""No"",""false""],""key"":""ENERGY STAR Ce...",[]
2,DU4wvHMBUbef_7uTLL8E,3.328718e+10,P4500,3.328718e+10,"[{""key"":""Cleaning & Janitorial Product Type"",""...","[Cleaning & Janitorial Product Type, Cleaning ..."
3,AVph13vf1cnluZ0-HAM7,6.164695e+11,RNAB00BZBPNBE,6.164695e+11,"[{""value"":[""New""],""key"":""Condition""},{""key"":""D...","[Condition, Date First Available, EAN, ISBN, s..."
4,4_koeHIBPkqI1fUQKFVE,6.223566e+11,NaN,6.223566e+11,"[{""key"":""Toss away"",""value"":[""Press the button...",[]

In [9]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [10]:
df.to_csv(output_name , index=False)

In [11]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [12]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)

Total number of rows after removal: 64
Total number of columns after removal: 6

In [13]:
df.to_csv(output_name2, index=False)