In [30]:
import pandas as pd
import json
input_name = "Airpurifiers_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [31]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [32]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 15
Total number of unique 'ean's: 85

In [33]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,AXCC-Hu3FNnJyZPuFrz1,http://www.sears.com/content/pdp/config/produc...,B002KMILVG,Germ Guardian,NaN,"Medicines & Treatments,Heating, Venting & Cool...","True / Black,Gray,White,Black/White,Crystal Wh...",10,2020-02-26T19:28:07Z,2024-06-10T05:43:01Z,...,NaN,NaN,NaN,NaN,8.959160e+11,NaN,8.959160e+11,NaN,"brickseek.com-160340,google.com-68083149025414...",0.45 lbs
1,AW1BsYSZ-9SQAxjdCQTe,https://redsky.target.com/redsky_aggregations/...,B00V5ZB5WQ,Germ Guardian,NaN,"Heating, Venting & Cooling,Home & Tools,Electr...","Gray,Black/White,black,Black,Blacks,Grays,BLAC...",10,2019-09-18T00:06:55Z,2024-06-10T05:17:05Z,...,NaN,NaN,NaN,NaN,1.630158e+11,NaN,1.630158e+11,NaN,"lowes.com-552676,chewy.com-229801,chewy.com-22...",0.35 lbs
2,AW_LWhFnJa1kp7EkjTx1,https://redsky.target.com/redsky_aggregations/...,B07VMHMHSM,bissell,NaN,"home improvement,Heating, Cooling & Air Qualit...","White,white,2780a",NaN,2020-01-22T03:44:35Z,2024-06-10T04:28:34Z,...,NaN,NaN,NaN,NaN,1.112025e+10,NaN,1.112025e+10,NaN,"kohls.com-4212041,brickseek.com-8494530,galanc...",4.63
3,AVpifAOY1cnluZ0-NtnI,https://redsky.target.com/redsky_aggregations/...,B00OLBR0H0,Germ Guardian,NaN,"Travel Accessories,Medicines & Treatments,Heat...","WHITE,White,white,Crystal white,Onyx Black,Cry...",10,2016-02-03T06:16:48Z,2024-06-10T04:03:40Z,...,NaN,NaN,NaN,NaN,8.176240e+11,NaN,8.176240e+11,NaN,"walgreens.com-6275738,bedbathandbeyond.com-547...",1 lbs
4,AVpiXvEV1cnluZ0-MoAp,http://www.sears.com/content/pdp/config/produc...,B00OLBR084,Germ Guardian,NaN,"Medicines & Treatments,Heating, Venting & Cool...","black,Multi/None,BLACK,Black,Blacks",10,2015-10-31T00:50:34Z,2024-06-10T04:03:11Z,...,NaN,NaN,NaN,NaN,8.176240e+11,NaN,8.176240e+11,NaN,"target.com-51308484,google.com-126237837606167...",11.25 lbs

In [34]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [35]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [36]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,AXCC-Hu3FNnJyZPuFrz1,8.959160e+11,FLT5000,8.959160e+11,There are too many features objects to show. P...
1,AW1BsYSZ-9SQAxjdCQTe,8.959160e+11,FLT4825,1.630158e+11,There are too many features objects to show. P...
2,AW_LWhFnJa1kp7EkjTx1,1.112025e+10,NaN,1.112025e+10,"[{""key"":""ENERGY STAR Certified"",""value"":[""no""]..."
3,AVpifAOY1cnluZ0-NtnI,8.176240e+11,LB1000,8.176240e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",..."
4,AVpiXvEV1cnluZ0-MoAp,8.176240e+11,RNAB00OLBR084,8.176240e+11,There are too many features objects to show. P...

In [37]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,AXCC-Hu3FNnJyZPuFrz1,8.959160e+11,FLT5000,8.959160e+11,There are too many features objects to show. P...,[]
1,AW1BsYSZ-9SQAxjdCQTe,8.959160e+11,FLT4825,1.630158e+11,There are too many features objects to show. P...,[]
2,AW_LWhFnJa1kp7EkjTx1,1.112025e+10,NaN,1.112025e+10,"[{""key"":""ENERGY STAR Certified"",""value"":[""no""]...",[]
3,AVpifAOY1cnluZ0-NtnI,8.176240e+11,LB1000,8.176240e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",...",[]
4,AVpiXvEV1cnluZ0-MoAp,8.176240e+11,RNAB00OLBR084,8.176240e+11,There are too many features objects to show. P...,[]

In [38]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [39]:
df.to_csv(output_name , index=False)

In [40]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [41]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)

Total number of rows after removal: 50
Total number of columns after removal: 6

In [43]:
df.to_csv(output_name2, index=False)