In [2]:
import pandas as pd
import json
input_name = "range_hoods_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [3]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [4]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 3
Total number of unique 'ean's: 97

In [5]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,cQiXb3IBvxj1aRnerfpt,NaN,NaN,AKDY,NaN,"WALL MOUNTED RANGE HOODS,Appliances,Range Hood...","Black Painted Stainless Steel, Black Painted F...",1.0,2020-06-01T11:15:10Z,2024-06-11T06:11:28Z,...,NaN,NaN,NaN,NaN,8.107640e+11,NaN,8.107640e+11,NaN,"google.com-15773182336466965670,walmart.com-22...",33 lbs.
1,3PwSgHIBPkqI1fUQwvwx,NaN,NaN,AKDY,NaN,"WALL MOUNTED RANGE HOODS,Appliances,Ovens & Ra...","Specialty,Bronze,Embossed Copper,Copper,bronze...",1.0,2020-06-04T16:03:32Z,2024-06-11T06:05:18Z,...,NaN,NaN,NaN,NaN,8.100700e+11,NaN,8.100700e+11,NaN,"homedepot.com-309546872,walmart.com-587462692",34.1 lbs.
2,tbcS8nMBo6SyyXo0Shut,NaN,NaN,FOTILE,NaN,"Appliances,Appliance Parts,Range Hood Parts,M0...",Stainless Steel,1.0,2020-08-15T12:22:31Z,2024-06-11T03:21:57Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2 lbs.
3,AW3ZAy3S0Rejpz6vk5BK,https://redsky.target.com/redsky_aggregations/...,NaN,ZLINE,NaN,"Range Hoods & Downdraft Ventilation,Wall-Mount...","Silver,Stainless Steel,stainless steel,Brushed...",NaN,2019-10-17T09:18:47Z,2024-06-10T12:33:10Z,...,NaN,NaN,NaN,NaN,8.100211e+11,NaN,8.100211e+11,NaN,"lowes.com-2311398,target.com-80800489,google.c...",24 lbs
4,-g8VgHIBvxj1aRneO36r,NaN,NaN,ZLINE,NaN,"Range Hoods & Downdraft Ventilation,Appliances...","Silver,Stainless Steel",NaN,2020-06-04T16:06:14Z,2024-06-10T12:33:10Z,...,NaN,NaN,NaN,NaN,8.551870e+11,NaN,8.551870e+11,NaN,"walmart.com-436310544,homedepot.com-206922106",70 lbs

In [6]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [7]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [8]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,cQiXb3IBvxj1aRnerfpt,8.107640e+11,RH0342,8.107640e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",..."
1,3PwSgHIBPkqI1fUQwvwx,8.100700e+11,RH0376,8.100700e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No""]..."
2,tbcS8nMBo6SyyXo0Shut,NaN,PLATE-4X30-S,NaN,"[{""key"":""Hardware Included"",""value"":[""No""]},{""..."
3,AW3ZAy3S0Rejpz6vk5BK,8.100211e+11,NaN,8.100211e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No""]..."
4,-g8VgHIBvxj1aRneO36r,8.551870e+11,NaN,8.551870e+11,"[{""key"":""Product Depth (in.)"",""value"":[""24""]},..."

In [9]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,cQiXb3IBvxj1aRnerfpt,8.107640e+11,RH0342,8.107640e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",...",[]
1,3PwSgHIBPkqI1fUQwvwx,8.100700e+11,RH0376,8.100700e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No""]...","[ENERGY STAR Certified, Actual Width (Inches),..."
2,tbcS8nMBo6SyyXo0Shut,NaN,PLATE-4X30-S,NaN,"[{""key"":""Hardware Included"",""value"":[""No""]},{""...","[Hardware Included, Color/Finish Family, Produ..."
3,AW3ZAy3S0Rejpz6vk5BK,8.100211e+11,NaN,8.100211e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No""]...",[]
4,-g8VgHIBvxj1aRneO36r,8.551870e+11,NaN,8.551870e+11,"[{""key"":""Product Depth (in.)"",""value"":[""24""]},...",[]

In [10]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [11]:
df.to_csv(output_name , index=False)

In [12]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [13]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)

Total number of rows after removal: 11
Total number of columns after removal: 6

In [14]:
df.to_csv(output_name2, index=False)