In [1]:
import pandas as pd
import json
input_name = "freezers_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [2]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [3]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 5
Total number of unique 'ean's: 95

In [4]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,AWnmJOv0M263mwCqx0-G,NaN,B073BYK71H,Galanz,NaN,"Compact Refrigerators,Appliances,Home & Kitche...","Silver,Black",NaN,2019-04-04T02:05:48Z,2024-06-09T21:23:53Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,lifetechnology.com-3886935670844,—
1,AV1d2tS_GV-KLJ3ad0JU,NaN,B00CJ6SJGA,Summit Appliance,NaN,"Major Appliances,Compact Refrigerators,Refrige...",Other,NaN,2017-07-20T02:36:48Z,2024-06-09T19:33:58Z,...,NaN,NaN,NaN,NaN,7.611010e+11,NaN,7.611010e+11,NaN,"walmart.com-42DJBG3TSTDU,lifetechnology.com-38...",120 lbs
2,AWwdYugLJa1kp7EkiQy2,NaN,NaN,Insignia™,NaN,"Appliances,Refrigerators,All Refrigerators","Stainless Steel,Stainless steel",NaN,2019-07-23T05:51:56Z,2024-06-07T23:47:10Z,...,NaN,NaN,NaN,NaN,6.006032e+11,NaN,6.006032e+11,NaN,NaN,191.8 lbs
3,AWxUdIzq-9SQAxjd4bQN,NaN,NaN,Insignia™,NaN,"Appliances,Refrigerators,All Refrigerators",White,NaN,2019-08-02T22:30:20Z,2024-06-07T23:47:07Z,...,NaN,NaN,NaN,NaN,6.006032e+11,NaN,6.006032e+11,NaN,NaN,163.14 lbs
4,AVpf2TCBLJeJML43E2T8,NaN,NaN,Insignia™,NaN,"Appliances,Freezers & Ice Makers,Chest Freezers",White,NaN,2015-12-02T05:32:14Z,2024-06-07T23:47:01Z,...,NaN,NaN,NaN,NaN,6.006032e+11,NaN,6.006032e+11,NaN,google.com-18127844091872910222,88.2 lbs

In [5]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [6]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [7]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,AWnmJOv0M263mwCqx0-G,NaN,555506763,NaN,"[{""value"":[""June 26, 2017""],""key"":""Date First ..."
1,AV1d2tS_GV-KLJ3ad0JU,7.611010e+11,NaN,7.611010e+11,"[{""key"":""Title"",""value"":[""Default Title""]},{""k..."
2,AWwdYugLJa1kp7EkiQy2,6.006033e+11,NS-UZ17SS0,6.006032e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""Yes""..."
3,AWxUdIzq-9SQAxjd4bQN,6.006032e+11,NS-UZ14WH0,6.006032e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""Yes""..."
4,AVpf2TCBLJeJML43E2T8,6.006032e+11,NS-CZ10WH6,6.006032e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",..."

In [8]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,AWnmJOv0M263mwCqx0-G,NaN,555506763,NaN,"[{""value"":[""June 26, 2017""],""key"":""Date First ...",[]
1,AV1d2tS_GV-KLJ3ad0JU,7.611010e+11,NaN,7.611010e+11,"[{""key"":""Title"",""value"":[""Default Title""]},{""k...",[]
2,AWwdYugLJa1kp7EkiQy2,6.006033e+11,NS-UZ17SS0,6.006032e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""Yes""...","[ENERGY STAR Certified, What's Included, Freez..."
3,AWxUdIzq-9SQAxjd4bQN,6.006032e+11,NS-UZ14WH0,6.006032e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""Yes""...","[ENERGY STAR Certified, What's Included, Freez..."
4,AVpf2TCBLJeJML43E2T8,6.006032e+11,NS-CZ10WH6,6.006032e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",...","[ENERGY STAR Certified, What's Included, Freez..."

In [9]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [10]:
df.to_csv(output_name , index=False)

In [11]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [12]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)

Total number of rows after removal: 63
Total number of columns after removal: 6

In [13]:
df.to_csv(output_name2, index=False)