In [1]:
import pandas as pd
import json
input_name = "Countertop-Dishwashers_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [2]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [3]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 12
Total number of unique 'ean's: 88

In [4]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,AW6vm9gK0Rejpz6v6FST,http://www.sears.com/content/pdp/config/produc...,B07VMTF2Y4,Farberware,NaN,"Major Appliances,Appliances,Kitchen,Breakroom,...","Glass Door White,Silver,White,White/Clear,whit...",NaN,2019-11-28T01:24:16Z,2024-06-07T18:28:55Z,...,NaN,NaN,NaN,NaN,8.156580e+11,NaN,8.156580e+11,NaN,"berrysbuys.com-5854837604409,puppyloveproducts...",‎21.7 lbs
1,UdSyrnUBUbef_7uTDxE2,NaN,NaN,IKEA,NaN,NaN,NaN,NaN,2020-11-09T20:28:26Z,2024-06-06T21:56:00Z,...,dishwasher cleaners,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AWrmwnVtJbEilcB6WQgc,http://www.sears.com/content/pdp/config/produc...,NaN,SPT,NaN,"Heating, Cooling & Air Quality,Major Appliance...","White,Stainless Steel,stainless steel,Stainles...",NaN,2019-05-23T22:14:24Z,2024-06-06T16:54:37Z,...,NaN,NaN,NaN,NaN,8.100127e+11,NaN,8.100127e+11,NaN,"google.com-4610034259415218990,homedepot.com-3...",65
3,XDNVD3gBccoD1xujQLIp,NaN,NaN,IKEA,NaN,NaN,High-gloss white,NaN,2021-03-08T00:55:48Z,2024-06-06T08:54:10Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GyQuDngBPkqI1fUQ_js8,NaN,NaN,IKEA,NaN,NaN,White,NaN,2021-03-07T19:34:24Z,2024-06-06T08:52:43Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [6]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [7]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,AW6vm9gK0Rejpz6v6FST,8.156580e+11,NaN,8.156580e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""no"",..."
1,UdSyrnUBUbef_7uTDxE2,NaN,40435557,NaN,NaN
2,AWrmwnVtJbEilcB6WQgc,8.100127e+11,SD-9254SS,8.100127e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""Yes""..."
3,XDNVD3gBccoD1xujQLIp,NaN,40499771,NaN,NaN
4,GyQuDngBPkqI1fUQ_js8,NaN,00499773,NaN,NaN

In [8]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,AW6vm9gK0Rejpz6v6FST,8.156580e+11,NaN,8.156580e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""no"",...",[]
1,UdSyrnUBUbef_7uTDxE2,NaN,40435557,NaN,NaN,[]
2,AWrmwnVtJbEilcB6WQgc,8.100127e+11,SD-9254SS,8.100127e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""Yes""...",[]
3,XDNVD3gBccoD1xujQLIp,NaN,40499771,NaN,NaN,[]
4,GyQuDngBPkqI1fUQ_js8,NaN,00499773,NaN,NaN,[]

In [9]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [10]:
df.to_csv(output_name , index=False)

In [11]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [12]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)
df.to_csv(output_name2, index=False)

Total number of rows after removal: 38
Total number of columns after removal: 6