In [1]:
import pandas as pd
import json
input_name = "Portable-Dishwashers_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [2]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [3]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 17
Total number of unique 'ean's: 83

In [4]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,AWrmwnVtJbEilcB6WQgc,http://www.sears.com/content/pdp/config/produc...,NaN,SPT,NaN,"Heating, Cooling & Air Quality,Major Appliance...","White,Stainless Steel,stainless steel,Stainles...",NaN,2019-05-23T22:14:24Z,2024-06-06T16:54:37Z,...,NaN,NaN,NaN,NaN,8.100127e+11,NaN,8.100127e+11,NaN,"google.com-4610034259415218990,homedepot.com-3...",65
1,UJh1bnEBUbef_7uTrUgc,NaN,NaN,Maytag,NaN,"Appliances,All Dishwashers,Built-In Dishwasher...","White,white,Stainless Steel,Fingerprint Resist...",NaN,2020-04-12T12:55:37Z,2024-06-04T03:28:38Z,...,NaN,NaN,NaN,NaN,8.830495e+11,NaN,8.830495e+11,NaN,"brickseek.com-9110766,google.com-1526846298370...",105 lbs
2,ej_EBXIBo6SyyXo0qdTe,http://www.sears.com/content/pdp/config/produc...,NaN,Sunpentown,NaN,"Major Appliances,Appliances,Home & Tools,Home ...","Silver,White,white,black,white,black",NaN,2020-05-11T22:04:34Z,2024-06-04T01:16:13Z,...,"touchless kitchen sink faucets,touch on kitche...",NaN,NaN,NaN,8.768400e+11,NaN,8.768400e+11,NaN,"homedepot.com-206343590,walmart.com-46645581,l...",42.99 lbs
3,EW1SUnQBvxj1aRneEvHy,NaN,NaN,Whirlpool,NaN,"Appliances,All Dishwashers,Built-In Dishwasher...","White,white,Stainless Steel,Fingerprint Resist...",1.0,2020-09-03T04:55:44Z,2024-06-03T22:17:04Z,...,digital scales,NaN,NaN,NaN,8.830495e+11,NaN,8.830495e+11,NaN,"google.com-14906704086175190682,menards.com-99...",89 lbs
4,AWdWd2x1Hh53nbDRSykX,NaN,B07D9MRHP7,Whynter,NaN,"Major Appliances,Kitchen Appliances,Home & Too...","White,Multicolor",NaN,2018-11-27T16:59:01Z,2024-06-03T06:11:17Z,...,NaN,NaN,NaN,NaN,8.527490e+11,NaN,8.527490e+11,NaN,"homedepot.com-304816781,macys.com-50126463,wal...",44 lbs

In [5]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [6]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [7]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,AWrmwnVtJbEilcB6WQgc,8.100127e+11,SD-9254SS,8.100127e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""Yes""..."
1,UJh1bnEBUbef_7uTrUgc,8.830495e+11,MDB8959SKZ,8.830495e+11,There are too many features objects to show. P...
2,ej_EBXIBo6SyyXo0qdTe,8.768400e+11,SD-2224DW,8.768400e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",..."
3,EW1SUnQBvxj1aRneEvHy,8.830495e+11,WDT750SAKZ,8.830495e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",..."
4,AWdWd2x1Hh53nbDRSykX,8.527490e+11,NaN,8.527490e+11,"[{""key"":""Dishwasher Rack Configuration"",""value..."

In [8]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,AWrmwnVtJbEilcB6WQgc,8.100127e+11,SD-9254SS,8.100127e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""Yes""...",[]
1,UJh1bnEBUbef_7uTrUgc,8.830495e+11,MDB8959SKZ,8.830495e+11,There are too many features objects to show. P...,[]
2,ej_EBXIBo6SyyXo0qdTe,8.768400e+11,SD-2224DW,8.768400e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",...","[ENERGY STAR Certified, Steam Pre-Wash, Door S..."
3,EW1SUnQBvxj1aRneEvHy,8.830495e+11,WDT750SAKZ,8.830495e+11,"[{""key"":""ENERGY STAR Certified"",""value"":[""No"",...",[]
4,AWdWd2x1Hh53nbDRSykX,8.527490e+11,NaN,8.527490e+11,"[{""key"":""Dishwasher Rack Configuration"",""value...",[]

In [9]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [10]:
df.to_csv(output_name , index=False)

In [11]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [12]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)
df.to_csv(output_name2, index=False)

Total number of rows after removal: 44
Total number of columns after removal: 6