In [2]:
import pandas as pd
import json
input_name = "cooktops_raw"
output_name = f"{input_name.split('_')[0]}_extracted.csv"
output_name2 = f"{input_name.split('_')[0]}_clean.csv"

# Remove parentheses around input_name in the file path
df_unclean = pd.read_csv(f"{input_name}.csv")

In [3]:
# Total number of rows and columns in the DataFrame
total_rows, total_columns =df_unclean.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

# Total number of unique 'id's
total_unique_ids = df_unclean['id'].nunique()
print("Total number of unique 'id's:", total_unique_ids)

Total number of rows: 100
Total number of columns: 67
Total number of unique 'id's: 100

In [4]:
# Assuming 'ean' is the column name in your DataFrame
total_rows_ean = df_unclean['ean'].shape[0]
print("Total number of rows in 'ean' column:", total_rows_ean)


missing_values_ean = df_unclean['ean'].isnull().sum()
print("Total number of missing values in 'ean' column:", missing_values_ean)

# Total number of unique 'id's
total_unique_ids = df_unclean['ean'].nunique()
print("Total number of unique 'ean's:", total_unique_ids)

Total number of rows in 'ean' column: 100
Total number of missing values in 'ean' column: 7
Total number of unique 'ean's: 93

In [5]:
df_unclean.head()

,id,apiURLs,asins,brand,canonicalBrand,categories,colors,count,dateAdded,dateUpdated,...,taxonomyLevel6,taxonomyLevel7,taxonomyLevel8,taxonomyLevel9,upc,upce,upca,vin,websiteIDs,weight
0,ySFLaHcBccoD1xujGB1Y,NaN,NaN,Bertazzoni,NaN,"Wall Ovens,Double Wall Ovens,Appliances,Ranges...","Stainless Steel,Stainless steel",NaN,2021-02-03T14:28:07Z,2024-06-10T13:42:17Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,432 lbs
1,FgQAHHcBUbef_7uTRtIx,NaN,NaN,Bertazzoni,NaN,"Wall Ovens,Appliances,Ranges, Cooktops & Ovens...","Stainless Steel,Stainless steel",NaN,2021-01-19T18:55:16Z,2024-06-10T13:36:59Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224 lbs
2,AWtXfS4OqPNTupapVRVS,NaN,NaN,Bosch,NaN,"Range Hood Blowers,APPLIANCE PARTS & ACCESSORI...","Silver,Multiple colors/finishes,stainless steel",NaN,2019-06-14T19:35:50Z,2024-06-10T07:10:22Z,...,NaN,NaN,NaN,NaN,5.002262e+11,NaN,5.002262e+11,NaN,"wilmar.com-330291135,lowes.com-1137185,venue.c...",3.99 lbs
3,AW7yl2yP0Rejpz6vCq6M,NaN,NaN,MegaChef,NaN,"small appliances,kitchen and food,kitchen & food",NaN,NaN,2019-12-11T01:34:00Z,2024-06-10T07:06:17Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AW7ynNgmJa1kp7Ekctij,NaN,NaN,MegaChef,NaN,"small appliances,kitchen and food,kitchen & food",NaN,NaN,2019-12-11T01:39:55Z,2024-06-10T05:46:07Z,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_unclean.columns

Index(['id', 'apiURLs', 'asins', 'brand', 'canonicalBrand', 'categories',
       'colors', 'count', 'dateAdded', 'dateUpdated', 'descriptions',
       'dimension', 'domains', 'ean', 'ean8', 'ean13', 'features',
       'financingAndLeasing', 'flavors', 'gtins', 'imageURLs', 'isbn', 'keys',
       'manufacturer', 'manufacturerNumber', 'merchants',
       'mostRecentPriceAmount', 'mostRecentPriceNonSalesAmount',
       'mostRecentPriceAvailability', 'mostRecentPriceCurrency',
       'mostRecentPriceColor', 'mostRecentPriceSize',
       'mostRecentPriceCondition', 'mostRecentPriceIsSale',
       'mostRecentPriceDomain', 'mostRecentPriceSourceURL',
       'mostRecentPriceDate', 'mostRecentPriceFirstDateSeen',
       'mostRecentPriceByDomain', 'name', 'prices', 'primaryCategories',
       'primaryImageURLs', 'quantities', 'reviews', 'sdsURLs',
       'secondaryCategories', 'sizes', 'skus', 'sourceURLs', 'stockNum',
       'taxonomy', 'taxonomyLevel1', 'taxonomyLevel2', 'taxonomyLevel3',
       'taxonomyLevel4', 'taxonomyLevel5', 'taxonomyLevel6', 'taxonomyLevel7',
       'taxonomyLevel8', 'taxonomyLevel9', 'upc', 'upce', 'upca', 'vin',
       'websiteIDs', 'weight'],
      dtype='object')

In [7]:
# Sample DataFrame
data = df_unclean[['id' , 'ean' , 'manufacturerNumber' , 'upc' , 'features']]
df = pd.DataFrame(data)

In [8]:
df.head()

,id,ean,manufacturerNumber,upc,features
0,ySFLaHcBccoD1xujGB1Y,NaN,MAST30FDEXV,NaN,"[{""key"":""Oven 1 Convection"",""value"":[""true""]},..."
1,FgQAHHcBUbef_7uTRtIx,NaN,PROF30FSEXV,NaN,"[{""key"":""Sabbath Mode"",""value"":[""Yes"",""true""]}..."
2,AWtXfS4OqPNTupapVRVS,8.252259e+11,HDD6RSP,5.002262e+11,"[{""key"":""What's Included"",""value"":[""Bosch 36\\..."
3,AW7yl2yP0Rejpz6vCq6M,NaN,NaN,NaN,NaN
4,AW7ynNgmJa1kp7Ekctij,NaN,NaN,NaN,"[{""key"":""Average Rating"",""value"":[""5""]},{""key""..."

In [9]:
import json
import numpy as np
# Function to extract keys from 'features' column
def extract_keys(row):
    try:
        features = row['features']
        if isinstance(features, str):
            features_list = json.loads(features)
            keys = [item['key'] for item in features_list]
        else:
            keys = []
    except (json.JSONDecodeError, TypeError):
        keys = []
    return keys

# Apply function to each row
df['list_of_keys_from_features'] = df.apply(extract_keys, axis=1)

df.head(5)

,id,ean,manufacturerNumber,upc,features,list_of_keys_from_features
0,ySFLaHcBccoD1xujGB1Y,NaN,MAST30FDEXV,NaN,"[{""key"":""Oven 1 Convection"",""value"":[""true""]},...","[Oven 1 Convection, Oven 1 Location, Oven1 Cle..."
1,FgQAHHcBUbef_7uTRtIx,NaN,PROF30FSEXV,NaN,"[{""key"":""Sabbath Mode"",""value"":[""Yes"",""true""]}...","[Sabbath Mode, Wattage, Heat distribution, Col..."
2,AWtXfS4OqPNTupapVRVS,8.252259e+11,HDD6RSP,5.002262e+11,"[{""key"":""What's Included"",""value"":[""Bosch 36\\...",[]
3,AW7yl2yP0Rejpz6vCq6M,NaN,NaN,NaN,NaN,[]
4,AW7ynNgmJa1kp7Ekctij,NaN,NaN,NaN,"[{""key"":""Average Rating"",""value"":[""5""]},{""key""...","[Average Rating, Review Count]"

In [10]:
df.dtypes

id                             object
ean                           float64
manufacturerNumber             object
upc                           float64
features                       object
list_of_keys_from_features     object
dtype: object

In [11]:
df.to_csv(output_name , index=False)

In [12]:
total_rows, total_columns = df.shape
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)

Total number of rows: 100
Total number of columns: 6

In [13]:
# Remove rows where column "list_of_keys_from_features" has an entry "[]"
df = df[df['list_of_keys_from_features'].apply(len) > 0]

# Check total number of rows and columns of the DataFrame again
total_rows_after_removal, total_columns_after_removal = df.shape
print("Total number of rows after removal:", total_rows_after_removal)
print("Total number of columns after removal:", total_columns_after_removal)

Total number of rows after removal: 23
Total number of columns after removal: 6

In [14]:
df.to_csv(output_name2, index=False)